<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string>暂时木有网络，刷新看看？</string>
	<string>数据错误,\n请稍后再试(&gt;_&lt;!)</string>
	<string>这里还什么都木有...</string>
	<string>亲还木有粉丝哟~\n现在就去邀请好友来粉你吧!</string>
	<string>她还木有粉丝哟~</string>
	<string>抱歉，没有找到相关的内容，换个词重新搜索吧</string>
	<string>亲的相册还木有靓照噢,\n赶快发表话题晒美图吧!</string>
	<string>她的相册还木有靓照噢!</string>
	<string>亲，你还没有草稿噢~</string>
	<string>矮油~这里还没有圈子噢~\n点击右上角“+”,加入感兴趣的圈子吧</string>
	<string>矮油~这里还没有圈子噢~\n到“更多圈”加入感兴趣的圈子吧</string>
	<string>矮油~她还没有圈子噢~</string>
	<string>亲已经加入所有的圈子啦</string>
	<string>亲还木有关注的辣妈噢,\n不妨去“发现”达人榜看看吧!</string>
	<string>亲还没有关注别人呢(⊙o⊙)</string>
	<string>她还没有关注别人呢(⊙o⊙)</string>
	<string>矮油~亲还木有任何收藏噢!\n点下话题详情右上角滴五角星,\n就可以收藏啦!</string>
	<string>亲还木有私信记录噢, 点击辣妈头像,\n给喜欢的辣妈发条私信吧!</string>
	<string>亲还木有收到任何通知噢,\n赶快去圈子里发些好玩的话题吧!</string>
	<string>你关注的辣妈\n暂时没有发布话题</string>
	<string>咦~还木有人发帖？快来争当本圈发帖第一人！</string>
	<string>矮油~她还木有发表过任何话题噢!</string>
	<string>亲还木有回复的记录噢~,\n赶快跟其他辣妈一起互动吧!</string>
	<string>她还木有回复的记录噢~</string>
</array>
</plist>
