<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>column_count</key>
	<string>3</string>
	<key>tool_type_list</key>
	<array>
		<dict>
			<key>name</key>
			<string>孕期工具</string>
			<key>tool_type_id</key>
			<string>1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>育儿工具</string>
			<key>tool_type_id</key>
			<string>2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>其他工具</string>
			<key>tool_type_id</key>
			<string>3</string>
		</dict>
	</array>
	<key>tool_list</key>
	<array>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>孕期食谱</string>
			<key>type</key>
			<string>1</string>
			<key>tool_type_name</key>
			<string>孕期工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>亲子音乐</string>
			<key>type</key>
			<string>5</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>心情记录</string>
			<key>type</key>
			<string>3</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>快乐打车</string>
			<key>type</key>
			<string>4</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>孕期手表</string>
			<key>type</key>
			<string>8</string>
			<key>tool_type_name</key>
			<string>孕期工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>免费试用</string>
			<key>type</key>
			<string>7</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>扫一扫</string>
			<key>type</key>
			<string>9</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>疫苗时间表</string>
			<key>type</key>
			<string>10</string>
			<key>tool_type_name</key>
			<string>育儿工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>月子餐</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://chenlehui.babytree-dev.com/api/mobile_toolcms/yuezicang?&amp;&amp;title=月子餐</string>
			<key>tool_type_name</key>
			<string>育儿工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>能不能吃</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://chenlehui.babytree-dev.com/api/mobile_toolcms/can_eat?&amp;&amp;title=能不能吃</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>宝宝辅食</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://chenlehui.babytree-dev.com/api/mobile_toolcms/fusi?&amp;&amp;title=宝宝辅食大全</string>
			<key>tool_type_name</key>
			<string>育儿工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>B超单</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://chenlehui.babytree-dev.com/api/mobile_toolcms/bchao?&amp;&amp;title=看懂B超单</string>
			<key>tool_type_name</key>
			<string>孕期工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>成长宝典</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://2014jbopenclass.nimads.com/mobile/?&amp;&amp;title=成长宝典</string>
			<key>tool_type_name</key>
			<string>育儿工具</string>
		</dict>
		<dict>
			<key>badge_count</key>
			<string>0</string>
			<key>img</key>
			<string></string>
			<key>name</key>
			<string>每日好运</string>
			<key>type</key>
			<string>0</string>
			<key>url</key>
			<string>http://log.babytree.com/rd/rd.php?refcode=好运小天使工具&amp;url=http://r.babytree.com/tfldwu&amp;&amp;title=每日好运</string>
			<key>tool_type_name</key>
			<string>其他工具</string>
		</dict>
	</array>
</dict>
</plist>
