<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>23e283a3</key>
	<string>#⃣</string>
	<key>30e283a3</key>
	<string>0⃣</string>
	<key>31e283a3</key>
	<string>1⃣</string>
	<key>32e283a3</key>
	<string>2⃣</string>
	<key>33e283a3</key>
	<string>3⃣</string>
	<key>34e283a3</key>
	<string>4⃣</string>
	<key>35e283a3</key>
	<string>5⃣</string>
	<key>36e283a3</key>
	<string>6⃣</string>
	<key>37e283a3</key>
	<string>7⃣</string>
	<key>38e283a3</key>
	<string>8⃣</string>
	<key>39e283a3</key>
	<string>9⃣</string>
	<key>c2a9</key>
	<string>©</string>
	<key>c2ae</key>
	<string>®</string>
	<key>e280bc</key>
	<string>‼️</string>
	<key>e28189</key>
	<string>⁉️</string>
	<key>e284a2</key>
	<string>™</string>
	<key>e284b9</key>
	<string>ℹ️</string>
	<key>e28694</key>
	<string>↔️</string>
	<key>e28695</key>
	<string>↕️</string>
	<key>e28696</key>
	<string>↖️</string>
	<key>e28697</key>
	<string>↗️</string>
	<key>e28698</key>
	<string>↘️</string>
	<key>e28699</key>
	<string>↙️</string>
	<key>e286a9</key>
	<string>↩️</string>
	<key>e286aa</key>
	<string>↪️</string>
	<key>e28c9a</key>
	<string>⌚️</string>
	<key>e28c9b</key>
	<string>⌛️</string>
	<key>e28fa9</key>
	<string>⏩</string>
	<key>e28faa</key>
	<string>⏪</string>
	<key>e28fab</key>
	<string>⏫</string>
	<key>e28fac</key>
	<string>⏬</string>
	<key>e28fb0</key>
	<string>⏰</string>
	<key>e28fb3</key>
	<string>⏳</string>
	<key>e29382</key>
	<string>Ⓜ️</string>
	<key>e296aa</key>
	<string>▪️</string>
	<key>e296ab</key>
	<string>▫️</string>
	<key>e296b6</key>
	<string>▶️</string>
	<key>e29780</key>
	<string>◀️</string>
	<key>e297bb</key>
	<string>◻️</string>
	<key>e297bc</key>
	<string>◼️</string>
	<key>e297bd</key>
	<string>◽️</string>
	<key>e297be</key>
	<string>◾️</string>
	<key>e29880</key>
	<string>☀️</string>
	<key>e29881</key>
	<string>☁️</string>
	<key>e2988e</key>
	<string>☎️</string>
	<key>e29891</key>
	<string>☑️</string>
	<key>e29894</key>
	<string>☔️</string>
	<key>e29895</key>
	<string>☕️</string>
	<key>e2989d</key>
	<string>☝️</string>
	<key>e298ba</key>
	<string>☺️</string>
	<key>e29988</key>
	<string>♈️</string>
	<key>e29989</key>
	<string>♉️</string>
	<key>e2998a</key>
	<string>♊️</string>
	<key>e2998b</key>
	<string>♋️</string>
	<key>e2998c</key>
	<string>♌️</string>
	<key>e2998d</key>
	<string>♍️</string>
	<key>e2998e</key>
	<string>♎️</string>
	<key>e2998f</key>
	<string>♏️</string>
	<key>e29990</key>
	<string>♐️</string>
	<key>e29991</key>
	<string>♑️</string>
	<key>e29992</key>
	<string>♒️</string>
	<key>e29993</key>
	<string>♓️</string>
	<key>e299a0</key>
	<string>♠️</string>
	<key>e299a3</key>
	<string>♣️</string>
	<key>e299a5</key>
	<string>♥️</string>
	<key>e299a6</key>
	<string>♦️</string>
	<key>e299a8</key>
	<string>♨️</string>
	<key>e299bb</key>
	<string>♻️</string>
	<key>e299bf</key>
	<string>♿️</string>
	<key>e29a93</key>
	<string>⚓️</string>
	<key>e29aa0</key>
	<string>⚠️</string>
	<key>e29aa1</key>
	<string>⚡️</string>
	<key>e29aaa</key>
	<string>⚪️</string>
	<key>e29aab</key>
	<string>⚫️</string>
	<key>e29abd</key>
	<string>⚽️</string>
	<key>e29abe</key>
	<string>⚾️</string>
	<key>e29b84</key>
	<string>⛄️</string>
	<key>e29b85</key>
	<string>⛅️</string>
	<key>e29b8e</key>
	<string>⛎</string>
	<key>e29b94</key>
	<string>⛔️</string>
	<key>e29baa</key>
	<string>⛪️</string>
	<key>e29bb2</key>
	<string>⛲️</string>
	<key>e29bb3</key>
	<string>⛳️</string>
	<key>e29bb5</key>
	<string>⛵️</string>
	<key>e29bba</key>
	<string>⛺️</string>
	<key>e29bbd</key>
	<string>⛽️</string>
	<key>e29c82</key>
	<string>✂️</string>
	<key>e29c85</key>
	<string>✅</string>
	<key>e29c88</key>
	<string>✈️</string>
	<key>e29c89</key>
	<string>✉️</string>
	<key>e29c8a</key>
	<string>✊</string>
	<key>e29c8b</key>
	<string>✋</string>
	<key>e29c8c</key>
	<string>✌️</string>
	<key>e29c8f</key>
	<string>✏️</string>
	<key>e29c92</key>
	<string>✒️</string>
	<key>e29c94</key>
	<string>✔️</string>
	<key>e29c96</key>
	<string>✖️</string>
	<key>e29ca8</key>
	<string>✨</string>
	<key>e29cb3</key>
	<string>✳️</string>
	<key>e29cb4</key>
	<string>✴️</string>
	<key>e29d84</key>
	<string>❄️</string>
	<key>e29d87</key>
	<string>❇️</string>
	<key>e29d8c</key>
	<string>❌</string>
	<key>e29d8e</key>
	<string>❎</string>
	<key>e29d93</key>
	<string>❓</string>
	<key>e29d94</key>
	<string>❔</string>
	<key>e29d95</key>
	<string>❕</string>
	<key>e29d97</key>
	<string>❗️</string>
	<key>e29da4</key>
	<string>❤️</string>
	<key>e29e95</key>
	<string>➕</string>
	<key>e29e96</key>
	<string>➖</string>
	<key>e29e97</key>
	<string>➗</string>
	<key>e29ea1</key>
	<string>➡️</string>
	<key>e29eb0</key>
	<string>➰</string>
	<key>e29ebf</key>
	<string>➿</string>
	<key>e2a4b4</key>
	<string>⤴️</string>
	<key>e2a4b5</key>
	<string>⤵️</string>
	<key>e2ac85</key>
	<string>⬅️</string>
	<key>e2ac86</key>
	<string>⬆️</string>
	<key>e2ac87</key>
	<string>⬇️</string>
	<key>e2ac9b</key>
	<string>⬛️</string>
	<key>e2ac9c</key>
	<string>⬜️</string>
	<key>e2ad90</key>
	<string>⭐️</string>
	<key>e2ad95</key>
	<string>⭕️</string>
	<key>e380b0</key>
	<string>〰</string>
	<key>e380bd</key>
	<string>〽️</string>
	<key>e38a97</key>
	<string>㊗️</string>
	<key>e38a99</key>
	<string>㊙️</string>
	<key>f09f8084</key>
	<string>🀄️</string>
	<key>f09f838f</key>
	<string>🃏</string>
	<key>f09f85b0</key>
	<string>🅰</string>
	<key>f09f85b1</key>
	<string>🅱</string>
	<key>f09f85be</key>
	<string>🅾</string>
	<key>f09f85bf</key>
	<string>🅿️</string>
	<key>f09f868e</key>
	<string>🆎</string>
	<key>f09f8691</key>
	<string>🆑</string>
	<key>f09f8692</key>
	<string>🆒</string>
	<key>f09f8693</key>
	<string>🆓</string>
	<key>f09f8694</key>
	<string>🆔</string>
	<key>f09f8695</key>
	<string>🆕</string>
	<key>f09f8696</key>
	<string>🆖</string>
	<key>f09f8697</key>
	<string>🆗</string>
	<key>f09f8698</key>
	<string>🆘</string>
	<key>f09f8699</key>
	<string>🆙</string>
	<key>f09f869a</key>
	<string>🆚</string>
	<key>f09f87a8f09f87b3</key>
	<string>🇨🇳</string>
	<key>f09f87a9f09f87aa</key>
	<string>🇩🇪</string>
	<key>f09f87aaf09f87b8</key>
	<string>🇪🇸</string>
	<key>f09f87abf09f87b7</key>
	<string>🇫🇷</string>
	<key>f09f87acf09f87a7</key>
	<string>🇬🇧</string>
	<key>f09f87aef09f87b9</key>
	<string>🇮🇹</string>
	<key>f09f87aff09f87b5</key>
	<string>🇯🇵</string>
	<key>f09f87b0f09f87b7</key>
	<string>🇰🇷</string>
	<key>f09f87b7f09f87ba</key>
	<string>🇷🇺</string>
	<key>f09f87baf09f87b8</key>
	<string>🇺🇸</string>
	<key>f09f8881</key>
	<string>🈁</string>
	<key>f09f8882</key>
	<string>🈂</string>
	<key>f09f889a</key>
	<string>🈚️</string>
	<key>f09f88af</key>
	<string>🈯️</string>
	<key>f09f88b2</key>
	<string>🈲</string>
	<key>f09f88b3</key>
	<string>🈳</string>
	<key>f09f88b4</key>
	<string>🈴</string>
	<key>f09f88b5</key>
	<string>🈵</string>
	<key>f09f88b6</key>
	<string>🈶</string>
	<key>f09f88b7</key>
	<string>🈷</string>
	<key>f09f88b8</key>
	<string>🈸</string>
	<key>f09f88b9</key>
	<string>🈹</string>
	<key>f09f88ba</key>
	<string>🈺</string>
	<key>f09f8990</key>
	<string>🉐</string>
	<key>f09f8991</key>
	<string>🉑</string>
	<key>f09f8c80</key>
	<string>🌀</string>
	<key>f09f8c81</key>
	<string>🌁</string>
	<key>f09f8c82</key>
	<string>🌂</string>
	<key>f09f8c83</key>
	<string>🌃</string>
	<key>f09f8c84</key>
	<string>🌄</string>
	<key>f09f8c85</key>
	<string>🌅</string>
	<key>f09f8c86</key>
	<string>🌆</string>
	<key>f09f8c87</key>
	<string>🌇</string>
	<key>f09f8c88</key>
	<string>🌈</string>
	<key>f09f8c89</key>
	<string>🌉</string>
	<key>f09f8c8a</key>
	<string>🌊</string>
	<key>f09f8c8b</key>
	<string>🌋</string>
	<key>f09f8c8c</key>
	<string>🌌</string>
	<key>f09f8c8d</key>
	<string>🌍</string>
	<key>f09f8c8e</key>
	<string>🌎</string>
	<key>f09f8c8f</key>
	<string>🌏</string>
	<key>f09f8c90</key>
	<string>🌐</string>
	<key>f09f8c91</key>
	<string>🌑</string>
	<key>f09f8c92</key>
	<string>🌒</string>
	<key>f09f8c93</key>
	<string>🌓</string>
	<key>f09f8c94</key>
	<string>🌔</string>
	<key>f09f8c95</key>
	<string>🌕</string>
	<key>f09f8c96</key>
	<string>🌖</string>
	<key>f09f8c97</key>
	<string>🌗</string>
	<key>f09f8c98</key>
	<string>🌘</string>
	<key>f09f8c99</key>
	<string>🌙</string>
	<key>f09f8c9a</key>
	<string>🌚</string>
	<key>f09f8c9b</key>
	<string>🌛</string>
	<key>f09f8c9c</key>
	<string>🌜</string>
	<key>f09f8c9d</key>
	<string>🌝</string>
	<key>f09f8c9e</key>
	<string>🌞</string>
	<key>f09f8c9f</key>
	<string>🌟</string>
	<key>f09f8ca0</key>
	<string>🌠</string>
	<key>f09f8cb0</key>
	<string>🌰</string>
	<key>f09f8cb1</key>
	<string>🌱</string>
	<key>f09f8cb2</key>
	<string>🌲</string>
	<key>f09f8cb3</key>
	<string>🌳</string>
	<key>f09f8cb4</key>
	<string>🌴</string>
	<key>f09f8cb5</key>
	<string>🌵</string>
	<key>f09f8cb7</key>
	<string>🌷</string>
	<key>f09f8cb8</key>
	<string>🌸</string>
	<key>f09f8cb9</key>
	<string>🌹</string>
	<key>f09f8cba</key>
	<string>🌺</string>
	<key>f09f8cbb</key>
	<string>🌻</string>
	<key>f09f8cbc</key>
	<string>🌼</string>
	<key>f09f8cbd</key>
	<string>🌽</string>
	<key>f09f8cbe</key>
	<string>🌾</string>
	<key>f09f8cbf</key>
	<string>🌿</string>
	<key>f09f8d80</key>
	<string>🍀</string>
	<key>f09f8d81</key>
	<string>🍁</string>
	<key>f09f8d82</key>
	<string>🍂</string>
	<key>f09f8d83</key>
	<string>🍃</string>
	<key>f09f8d84</key>
	<string>🍄</string>
	<key>f09f8d85</key>
	<string>🍅</string>
	<key>f09f8d86</key>
	<string>🍆</string>
	<key>f09f8d87</key>
	<string>🍇</string>
	<key>f09f8d88</key>
	<string>🍈</string>
	<key>f09f8d89</key>
	<string>🍉</string>
	<key>f09f8d8a</key>
	<string>🍊</string>
	<key>f09f8d8b</key>
	<string>🍋</string>
	<key>f09f8d8c</key>
	<string>🍌</string>
	<key>f09f8d8d</key>
	<string>🍍</string>
	<key>f09f8d8e</key>
	<string>🍎</string>
	<key>f09f8d8f</key>
	<string>🍏</string>
	<key>f09f8d90</key>
	<string>🍐</string>
	<key>f09f8d91</key>
	<string>🍑</string>
	<key>f09f8d92</key>
	<string>🍒</string>
	<key>f09f8d93</key>
	<string>🍓</string>
	<key>f09f8d94</key>
	<string>🍔</string>
	<key>f09f8d95</key>
	<string>🍕</string>
	<key>f09f8d96</key>
	<string>🍖</string>
	<key>f09f8d97</key>
	<string>🍗</string>
	<key>f09f8d98</key>
	<string>🍘</string>
	<key>f09f8d99</key>
	<string>🍙</string>
	<key>f09f8d9a</key>
	<string>🍚</string>
	<key>f09f8d9b</key>
	<string>🍛</string>
	<key>f09f8d9c</key>
	<string>🍜</string>
	<key>f09f8d9d</key>
	<string>🍝</string>
	<key>f09f8d9e</key>
	<string>🍞</string>
	<key>f09f8d9f</key>
	<string>🍟</string>
	<key>f09f8da0</key>
	<string>🍠</string>
	<key>f09f8da1</key>
	<string>🍡</string>
	<key>f09f8da2</key>
	<string>🍢</string>
	<key>f09f8da3</key>
	<string>🍣</string>
	<key>f09f8da4</key>
	<string>🍤</string>
	<key>f09f8da5</key>
	<string>🍥</string>
	<key>f09f8da6</key>
	<string>🍦</string>
	<key>f09f8da7</key>
	<string>🍧</string>
	<key>f09f8da8</key>
	<string>🍨</string>
	<key>f09f8da9</key>
	<string>🍩</string>
	<key>f09f8daa</key>
	<string>🍪</string>
	<key>f09f8dab</key>
	<string>🍫</string>
	<key>f09f8dac</key>
	<string>🍬</string>
	<key>f09f8dad</key>
	<string>🍭</string>
	<key>f09f8dae</key>
	<string>🍮</string>
	<key>f09f8daf</key>
	<string>🍯</string>
	<key>f09f8db0</key>
	<string>🍰</string>
	<key>f09f8db1</key>
	<string>🍱</string>
	<key>f09f8db2</key>
	<string>🍲</string>
	<key>f09f8db3</key>
	<string>🍳</string>
	<key>f09f8db4</key>
	<string>🍴</string>
	<key>f09f8db5</key>
	<string>🍵</string>
	<key>f09f8db6</key>
	<string>🍶</string>
	<key>f09f8db7</key>
	<string>🍷</string>
	<key>f09f8db8</key>
	<string>🍸</string>
	<key>f09f8db9</key>
	<string>🍹</string>
	<key>f09f8dba</key>
	<string>🍺</string>
	<key>f09f8dbb</key>
	<string>🍻</string>
	<key>f09f8dbc</key>
	<string>🍼</string>
	<key>f09f8e80</key>
	<string>🎀</string>
	<key>f09f8e81</key>
	<string>🎁</string>
	<key>f09f8e82</key>
	<string>🎂</string>
	<key>f09f8e83</key>
	<string>🎃</string>
	<key>f09f8e84</key>
	<string>🎄</string>
	<key>f09f8e85</key>
	<string>🎅</string>
	<key>f09f8e86</key>
	<string>🎆</string>
	<key>f09f8e87</key>
	<string>🎇</string>
	<key>f09f8e88</key>
	<string>🎈</string>
	<key>f09f8e89</key>
	<string>🎉</string>
	<key>f09f8e8a</key>
	<string>🎊</string>
	<key>f09f8e8b</key>
	<string>🎋</string>
	<key>f09f8e8c</key>
	<string>🎌</string>
	<key>f09f8e8d</key>
	<string>🎍</string>
	<key>f09f8e8e</key>
	<string>🎎</string>
	<key>f09f8e8f</key>
	<string>🎏</string>
	<key>f09f8e90</key>
	<string>🎐</string>
	<key>f09f8e91</key>
	<string>🎑</string>
	<key>f09f8e92</key>
	<string>🎒</string>
	<key>f09f8e93</key>
	<string>🎓</string>
	<key>f09f8ea0</key>
	<string>🎠</string>
	<key>f09f8ea1</key>
	<string>🎡</string>
	<key>f09f8ea2</key>
	<string>🎢</string>
	<key>f09f8ea3</key>
	<string>🎣</string>
	<key>f09f8ea4</key>
	<string>🎤</string>
	<key>f09f8ea5</key>
	<string>🎥</string>
	<key>f09f8ea6</key>
	<string>🎦</string>
	<key>f09f8ea7</key>
	<string>🎧</string>
	<key>f09f8ea8</key>
	<string>🎨</string>
	<key>f09f8ea9</key>
	<string>🎩</string>
	<key>f09f8eaa</key>
	<string>🎪</string>
	<key>f09f8eab</key>
	<string>🎫</string>
	<key>f09f8eac</key>
	<string>🎬</string>
	<key>f09f8ead</key>
	<string>🎭</string>
	<key>f09f8eae</key>
	<string>🎮</string>
	<key>f09f8eaf</key>
	<string>🎯</string>
	<key>f09f8eb0</key>
	<string>🎰</string>
	<key>f09f8eb1</key>
	<string>🎱</string>
	<key>f09f8eb2</key>
	<string>🎲</string>
	<key>f09f8eb3</key>
	<string>🎳</string>
	<key>f09f8eb4</key>
	<string>🎴</string>
	<key>f09f8eb5</key>
	<string>🎵</string>
	<key>f09f8eb6</key>
	<string>🎶</string>
	<key>f09f8eb7</key>
	<string>🎷</string>
	<key>f09f8eb8</key>
	<string>🎸</string>
	<key>f09f8eb9</key>
	<string>🎹</string>
	<key>f09f8eba</key>
	<string>🎺</string>
	<key>f09f8ebb</key>
	<string>🎻</string>
	<key>f09f8ebc</key>
	<string>🎼</string>
	<key>f09f8ebd</key>
	<string>🎽</string>
	<key>f09f8ebe</key>
	<string>🎾</string>
	<key>f09f8ebf</key>
	<string>🎿</string>
	<key>f09f8f80</key>
	<string>🏀</string>
	<key>f09f8f81</key>
	<string>🏁</string>
	<key>f09f8f82</key>
	<string>🏂</string>
	<key>f09f8f83</key>
	<string>🏃</string>
	<key>f09f8f84</key>
	<string>🏄</string>
	<key>f09f8f86</key>
	<string>🏆</string>
	<key>f09f8f87</key>
	<string>🏇</string>
	<key>f09f8f88</key>
	<string>🏈</string>
	<key>f09f8f89</key>
	<string>🏉</string>
	<key>f09f8f8a</key>
	<string>🏊</string>
	<key>f09f8fa0</key>
	<string>🏠</string>
	<key>f09f8fa1</key>
	<string>🏡</string>
	<key>f09f8fa2</key>
	<string>🏢</string>
	<key>f09f8fa3</key>
	<string>🏣</string>
	<key>f09f8fa4</key>
	<string>🏤</string>
	<key>f09f8fa5</key>
	<string>🏥</string>
	<key>f09f8fa6</key>
	<string>🏦</string>
	<key>f09f8fa7</key>
	<string>🏧</string>
	<key>f09f8fa8</key>
	<string>🏨</string>
	<key>f09f8fa9</key>
	<string>🏩</string>
	<key>f09f8faa</key>
	<string>🏪</string>
	<key>f09f8fab</key>
	<string>🏫</string>
	<key>f09f8fac</key>
	<string>🏬</string>
	<key>f09f8fad</key>
	<string>🏭</string>
	<key>f09f8fae</key>
	<string>🏮</string>
	<key>f09f8faf</key>
	<string>🏯</string>
	<key>f09f8fb0</key>
	<string>🏰</string>
	<key>f09f9080</key>
	<string>🐀</string>
	<key>f09f9081</key>
	<string>🐁</string>
	<key>f09f9082</key>
	<string>🐂</string>
	<key>f09f9083</key>
	<string>🐃</string>
	<key>f09f9084</key>
	<string>🐄</string>
	<key>f09f9085</key>
	<string>🐅</string>
	<key>f09f9086</key>
	<string>🐆</string>
	<key>f09f9087</key>
	<string>🐇</string>
	<key>f09f9088</key>
	<string>🐈</string>
	<key>f09f9089</key>
	<string>🐉</string>
	<key>f09f908a</key>
	<string>🐊</string>
	<key>f09f908b</key>
	<string>🐋</string>
	<key>f09f908c</key>
	<string>🐌</string>
	<key>f09f908d</key>
	<string>🐍</string>
	<key>f09f908e</key>
	<string>🐎</string>
	<key>f09f908f</key>
	<string>🐏</string>
	<key>f09f9090</key>
	<string>🐐</string>
	<key>f09f9091</key>
	<string>🐑</string>
	<key>f09f9092</key>
	<string>🐒</string>
	<key>f09f9093</key>
	<string>🐓</string>
	<key>f09f9094</key>
	<string>🐔</string>
	<key>f09f9095</key>
	<string>🐕</string>
	<key>f09f9096</key>
	<string>🐖</string>
	<key>f09f9097</key>
	<string>🐗</string>
	<key>f09f9098</key>
	<string>🐘</string>
	<key>f09f9099</key>
	<string>🐙</string>
	<key>f09f909a</key>
	<string>🐚</string>
	<key>f09f909b</key>
	<string>🐛</string>
	<key>f09f909c</key>
	<string>🐜</string>
	<key>f09f909d</key>
	<string>🐝</string>
	<key>f09f909e</key>
	<string>🐞</string>
	<key>f09f909f</key>
	<string>🐟</string>
	<key>f09f90a0</key>
	<string>🐠</string>
	<key>f09f90a1</key>
	<string>🐡</string>
	<key>f09f90a2</key>
	<string>🐢</string>
	<key>f09f90a3</key>
	<string>🐣</string>
	<key>f09f90a4</key>
	<string>🐤</string>
	<key>f09f90a5</key>
	<string>🐥</string>
	<key>f09f90a6</key>
	<string>🐦</string>
	<key>f09f90a7</key>
	<string>🐧</string>
	<key>f09f90a8</key>
	<string>🐨</string>
	<key>f09f90a9</key>
	<string>🐩</string>
	<key>f09f90aa</key>
	<string>🐪</string>
	<key>f09f90ab</key>
	<string>🐫</string>
	<key>f09f90ac</key>
	<string>🐬</string>
	<key>f09f90ad</key>
	<string>🐭</string>
	<key>f09f90ae</key>
	<string>🐮</string>
	<key>f09f90af</key>
	<string>🐯</string>
	<key>f09f90b0</key>
	<string>🐰</string>
	<key>f09f90b1</key>
	<string>🐱</string>
	<key>f09f90b2</key>
	<string>🐲</string>
	<key>f09f90b3</key>
	<string>🐳</string>
	<key>f09f90b4</key>
	<string>🐴</string>
	<key>f09f90b5</key>
	<string>🐵</string>
	<key>f09f90b6</key>
	<string>🐶</string>
	<key>f09f90b7</key>
	<string>🐷</string>
	<key>f09f90b8</key>
	<string>🐸</string>
	<key>f09f90b9</key>
	<string>🐹</string>
	<key>f09f90ba</key>
	<string>🐺</string>
	<key>f09f90bb</key>
	<string>🐻</string>
	<key>f09f90bc</key>
	<string>🐼</string>
	<key>f09f90bd</key>
	<string>🐽</string>
	<key>f09f90be</key>
	<string>🐾</string>
	<key>f09f9180</key>
	<string>👀</string>
	<key>f09f9182</key>
	<string>👂</string>
	<key>f09f9183</key>
	<string>👃</string>
	<key>f09f9184</key>
	<string>👄</string>
	<key>f09f9185</key>
	<string>👅</string>
	<key>f09f9186</key>
	<string>👆</string>
	<key>f09f9187</key>
	<string>👇</string>
	<key>f09f9188</key>
	<string>👈</string>
	<key>f09f9189</key>
	<string>👉</string>
	<key>f09f918a</key>
	<string>👊</string>
	<key>f09f918b</key>
	<string>👋</string>
	<key>f09f918c</key>
	<string>👌</string>
	<key>f09f918d</key>
	<string>👍</string>
	<key>f09f918e</key>
	<string>👎</string>
	<key>f09f918f</key>
	<string>👏</string>
	<key>f09f9190</key>
	<string>👐</string>
	<key>f09f9191</key>
	<string>👑</string>
	<key>f09f9192</key>
	<string>👒</string>
	<key>f09f9193</key>
	<string>👓</string>
	<key>f09f9194</key>
	<string>👔</string>
	<key>f09f9195</key>
	<string>👕</string>
	<key>f09f9196</key>
	<string>👖</string>
	<key>f09f9197</key>
	<string>👗</string>
	<key>f09f9198</key>
	<string>👘</string>
	<key>f09f9199</key>
	<string>👙</string>
	<key>f09f919a</key>
	<string>👚</string>
	<key>f09f919b</key>
	<string>👛</string>
	<key>f09f919c</key>
	<string>👜</string>
	<key>f09f919d</key>
	<string>👝</string>
	<key>f09f919e</key>
	<string>👞</string>
	<key>f09f919f</key>
	<string>👟</string>
	<key>f09f91a0</key>
	<string>👠</string>
	<key>f09f91a1</key>
	<string>👡</string>
	<key>f09f91a2</key>
	<string>👢</string>
	<key>f09f91a3</key>
	<string>👣</string>
	<key>f09f91a4</key>
	<string>👤</string>
	<key>f09f91a5</key>
	<string>👥</string>
	<key>f09f91a6</key>
	<string>👦</string>
	<key>f09f91a7</key>
	<string>👧</string>
	<key>f09f91a8</key>
	<string>👨</string>
	<key>f09f91a9</key>
	<string>👩</string>
	<key>f09f91aa</key>
	<string>👪</string>
	<key>f09f91ab</key>
	<string>👫</string>
	<key>f09f91ac</key>
	<string>👬</string>
	<key>f09f91ad</key>
	<string>👭</string>
	<key>f09f91ae</key>
	<string>👮</string>
	<key>f09f91af</key>
	<string>👯</string>
	<key>f09f91b0</key>
	<string>👰</string>
	<key>f09f91b1</key>
	<string>👱</string>
	<key>f09f91b2</key>
	<string>👲</string>
	<key>f09f91b3</key>
	<string>👳</string>
	<key>f09f91b4</key>
	<string>👴</string>
	<key>f09f91b5</key>
	<string>👵</string>
	<key>f09f91b6</key>
	<string>👶</string>
	<key>f09f91b7</key>
	<string>👷</string>
	<key>f09f91b8</key>
	<string>👸</string>
	<key>f09f91b9</key>
	<string>👹</string>
	<key>f09f91ba</key>
	<string>👺</string>
	<key>f09f91bb</key>
	<string>👻</string>
	<key>f09f91bc</key>
	<string>👼</string>
	<key>f09f91bd</key>
	<string>👽</string>
	<key>f09f91be</key>
	<string>👾</string>
	<key>f09f91bf</key>
	<string>👿</string>
	<key>f09f9280</key>
	<string>💀</string>
	<key>f09f9281</key>
	<string>💁</string>
	<key>f09f9282</key>
	<string>💂</string>
	<key>f09f9283</key>
	<string>💃</string>
	<key>f09f9284</key>
	<string>💄</string>
	<key>f09f9285</key>
	<string>💅</string>
	<key>f09f9286</key>
	<string>💆</string>
	<key>f09f9287</key>
	<string>💇</string>
	<key>f09f9288</key>
	<string>💈</string>
	<key>f09f9289</key>
	<string>💉</string>
	<key>f09f928a</key>
	<string>💊</string>
	<key>f09f928b</key>
	<string>💋</string>
	<key>f09f928c</key>
	<string>💌</string>
	<key>f09f928d</key>
	<string>💍</string>
	<key>f09f928e</key>
	<string>💎</string>
	<key>f09f928f</key>
	<string>💏</string>
	<key>f09f9290</key>
	<string>💐</string>
	<key>f09f9291</key>
	<string>💑</string>
	<key>f09f9292</key>
	<string>💒</string>
	<key>f09f9293</key>
	<string>💓</string>
	<key>f09f9294</key>
	<string>💔</string>
	<key>f09f9295</key>
	<string>💕</string>
	<key>f09f9296</key>
	<string>💖</string>
	<key>f09f9297</key>
	<string>💗</string>
	<key>f09f9298</key>
	<string>💘</string>
	<key>f09f9299</key>
	<string>💙</string>
	<key>f09f929a</key>
	<string>💚</string>
	<key>f09f929b</key>
	<string>💛</string>
	<key>f09f929c</key>
	<string>💜</string>
	<key>f09f929d</key>
	<string>💝</string>
	<key>f09f929e</key>
	<string>💞</string>
	<key>f09f929f</key>
	<string>💟</string>
	<key>f09f92a0</key>
	<string>💠</string>
	<key>f09f92a1</key>
	<string>💡</string>
	<key>f09f92a2</key>
	<string>💢</string>
	<key>f09f92a3</key>
	<string>💣</string>
	<key>f09f92a4</key>
	<string>💤</string>
	<key>f09f92a5</key>
	<string>💥</string>
	<key>f09f92a6</key>
	<string>💦</string>
	<key>f09f92a7</key>
	<string>💧</string>
	<key>f09f92a8</key>
	<string>💨</string>
	<key>f09f92a9</key>
	<string>💩</string>
	<key>f09f92aa</key>
	<string>💪</string>
	<key>f09f92ab</key>
	<string>💫</string>
	<key>f09f92ac</key>
	<string>💬</string>
	<key>f09f92ad</key>
	<string>💭</string>
	<key>f09f92ae</key>
	<string>💮</string>
	<key>f09f92af</key>
	<string>💯</string>
	<key>f09f92b0</key>
	<string>💰</string>
	<key>f09f92b1</key>
	<string>💱</string>
	<key>f09f92b2</key>
	<string>💲</string>
	<key>f09f92b3</key>
	<string>💳</string>
	<key>f09f92b4</key>
	<string>💴</string>
	<key>f09f92b5</key>
	<string>💵</string>
	<key>f09f92b6</key>
	<string>💶</string>
	<key>f09f92b7</key>
	<string>💷</string>
	<key>f09f92b8</key>
	<string>💸</string>
	<key>f09f92b9</key>
	<string>💹</string>
	<key>f09f92ba</key>
	<string>💺</string>
	<key>f09f92bb</key>
	<string>💻</string>
	<key>f09f92bc</key>
	<string>💼</string>
	<key>f09f92bd</key>
	<string>💽</string>
	<key>f09f92be</key>
	<string>💾</string>
	<key>f09f92bf</key>
	<string>💿</string>
	<key>f09f9380</key>
	<string>📀</string>
	<key>f09f9381</key>
	<string>📁</string>
	<key>f09f9382</key>
	<string>📂</string>
	<key>f09f9383</key>
	<string>📃</string>
	<key>f09f9384</key>
	<string>📄</string>
	<key>f09f9385</key>
	<string>📅</string>
	<key>f09f9386</key>
	<string>📆</string>
	<key>f09f9387</key>
	<string>📇</string>
	<key>f09f9388</key>
	<string>📈</string>
	<key>f09f9389</key>
	<string>📉</string>
	<key>f09f938a</key>
	<string>📊</string>
	<key>f09f938b</key>
	<string>📋</string>
	<key>f09f938c</key>
	<string>📌</string>
	<key>f09f938d</key>
	<string>📍</string>
	<key>f09f938e</key>
	<string>📎</string>
	<key>f09f938f</key>
	<string>📏</string>
	<key>f09f9390</key>
	<string>📐</string>
	<key>f09f9391</key>
	<string>📑</string>
	<key>f09f9392</key>
	<string>📒</string>
	<key>f09f9393</key>
	<string>📓</string>
	<key>f09f9394</key>
	<string>📔</string>
	<key>f09f9395</key>
	<string>📕</string>
	<key>f09f9396</key>
	<string>📖</string>
	<key>f09f9397</key>
	<string>📗</string>
	<key>f09f9398</key>
	<string>📘</string>
	<key>f09f9399</key>
	<string>📙</string>
	<key>f09f939a</key>
	<string>📚</string>
	<key>f09f939b</key>
	<string>📛</string>
	<key>f09f939c</key>
	<string>📜</string>
	<key>f09f939d</key>
	<string>📝</string>
	<key>f09f939e</key>
	<string>📞</string>
	<key>f09f939f</key>
	<string>📟</string>
	<key>f09f93a0</key>
	<string>📠</string>
	<key>f09f93a1</key>
	<string>📡</string>
	<key>f09f93a2</key>
	<string>📢</string>
	<key>f09f93a3</key>
	<string>📣</string>
	<key>f09f93a4</key>
	<string>📤</string>
	<key>f09f93a5</key>
	<string>📥</string>
	<key>f09f93a6</key>
	<string>📦</string>
	<key>f09f93a7</key>
	<string>📧</string>
	<key>f09f93a8</key>
	<string>📨</string>
	<key>f09f93a9</key>
	<string>📩</string>
	<key>f09f93aa</key>
	<string>📪</string>
	<key>f09f93ab</key>
	<string>📫</string>
	<key>f09f93ac</key>
	<string>📬</string>
	<key>f09f93ad</key>
	<string>📭</string>
	<key>f09f93ae</key>
	<string>📮</string>
	<key>f09f93af</key>
	<string>📯</string>
	<key>f09f93b0</key>
	<string>📰</string>
	<key>f09f93b1</key>
	<string>📱</string>
	<key>f09f93b2</key>
	<string>📲</string>
	<key>f09f93b3</key>
	<string>📳</string>
	<key>f09f93b4</key>
	<string>📴</string>
	<key>f09f93b5</key>
	<string>📵</string>
	<key>f09f93b6</key>
	<string>📶</string>
	<key>f09f93b7</key>
	<string>📷</string>
	<key>f09f93b9</key>
	<string>📹</string>
	<key>f09f93ba</key>
	<string>📺</string>
	<key>f09f93bb</key>
	<string>📻</string>
	<key>f09f93bc</key>
	<string>📼</string>
	<key>f09f9480</key>
	<string>🔀</string>
	<key>f09f9481</key>
	<string>🔁</string>
	<key>f09f9482</key>
	<string>🔂</string>
	<key>f09f9483</key>
	<string>🔃</string>
	<key>f09f9484</key>
	<string>🔄</string>
	<key>f09f9485</key>
	<string>🔅</string>
	<key>f09f9486</key>
	<string>🔆</string>
	<key>f09f9487</key>
	<string>🔇</string>
	<key>f09f9488</key>
	<string>🔈</string>
	<key>f09f9489</key>
	<string>🔉</string>
	<key>f09f948a</key>
	<string>🔊</string>
	<key>f09f948b</key>
	<string>🔋</string>
	<key>f09f948c</key>
	<string>🔌</string>
	<key>f09f948d</key>
	<string>🔍</string>
	<key>f09f948e</key>
	<string>🔎</string>
	<key>f09f948f</key>
	<string>🔏</string>
	<key>f09f9490</key>
	<string>🔐</string>
	<key>f09f9491</key>
	<string>🔑</string>
	<key>f09f9492</key>
	<string>🔒</string>
	<key>f09f9493</key>
	<string>🔓</string>
	<key>f09f9494</key>
	<string>🔔</string>
	<key>f09f9495</key>
	<string>🔕</string>
	<key>f09f9496</key>
	<string>🔖</string>
	<key>f09f9497</key>
	<string>🔗</string>
	<key>f09f9498</key>
	<string>🔘</string>
	<key>f09f9499</key>
	<string>🔙</string>
	<key>f09f949a</key>
	<string>🔚</string>
	<key>f09f949b</key>
	<string>🔛</string>
	<key>f09f949c</key>
	<string>🔜</string>
	<key>f09f949d</key>
	<string>🔝</string>
	<key>f09f949e</key>
	<string>🔞</string>
	<key>f09f949f</key>
	<string>🔟</string>
	<key>f09f94a0</key>
	<string>🔠</string>
	<key>f09f94a1</key>
	<string>🔡</string>
	<key>f09f94a2</key>
	<string>🔢</string>
	<key>f09f94a3</key>
	<string>🔣</string>
	<key>f09f94a4</key>
	<string>🔤</string>
	<key>f09f94a5</key>
	<string>🔥</string>
	<key>f09f94a6</key>
	<string>🔦</string>
	<key>f09f94a7</key>
	<string>🔧</string>
	<key>f09f94a8</key>
	<string>🔨</string>
	<key>f09f94a9</key>
	<string>🔩</string>
	<key>f09f94aa</key>
	<string>🔪</string>
	<key>f09f94ab</key>
	<string>🔫</string>
	<key>f09f94ac</key>
	<string>🔬</string>
	<key>f09f94ad</key>
	<string>🔭</string>
	<key>f09f94ae</key>
	<string>🔮</string>
	<key>f09f94af</key>
	<string>🔯</string>
	<key>f09f94b0</key>
	<string>🔰</string>
	<key>f09f94b1</key>
	<string>🔱</string>
	<key>f09f94b2</key>
	<string>🔲</string>
	<key>f09f94b3</key>
	<string>🔳</string>
	<key>f09f94b4</key>
	<string>🔴</string>
	<key>f09f94b5</key>
	<string>🔵</string>
	<key>f09f94b6</key>
	<string>🔶</string>
	<key>f09f94b7</key>
	<string>🔷</string>
	<key>f09f94b8</key>
	<string>🔸</string>
	<key>f09f94b9</key>
	<string>🔹</string>
	<key>f09f94ba</key>
	<string>🔺</string>
	<key>f09f94bb</key>
	<string>🔻</string>
	<key>f09f94bc</key>
	<string>🔼</string>
	<key>f09f94bd</key>
	<string>🔽</string>
	<key>f09f9590</key>
	<string>🕐</string>
	<key>f09f9591</key>
	<string>🕑</string>
	<key>f09f9592</key>
	<string>🕒</string>
	<key>f09f9593</key>
	<string>🕓</string>
	<key>f09f9594</key>
	<string>🕔</string>
	<key>f09f9595</key>
	<string>🕕</string>
	<key>f09f9596</key>
	<string>🕖</string>
	<key>f09f9597</key>
	<string>🕗</string>
	<key>f09f9598</key>
	<string>🕘</string>
	<key>f09f9599</key>
	<string>🕙</string>
	<key>f09f959a</key>
	<string>🕚</string>
	<key>f09f959b</key>
	<string>🕛</string>
	<key>f09f959c</key>
	<string>🕜</string>
	<key>f09f959d</key>
	<string>🕝</string>
	<key>f09f959e</key>
	<string>🕞</string>
	<key>f09f959f</key>
	<string>🕟</string>
	<key>f09f95a0</key>
	<string>🕠</string>
	<key>f09f95a1</key>
	<string>🕡</string>
	<key>f09f95a2</key>
	<string>🕢</string>
	<key>f09f95a3</key>
	<string>🕣</string>
	<key>f09f95a4</key>
	<string>🕤</string>
	<key>f09f95a5</key>
	<string>🕥</string>
	<key>f09f95a6</key>
	<string>🕦</string>
	<key>f09f95a7</key>
	<string>🕧</string>
	<key>f09f97bb</key>
	<string>🗻</string>
	<key>f09f97bc</key>
	<string>🗼</string>
	<key>f09f97bd</key>
	<string>🗽</string>
	<key>f09f97be</key>
	<string>🗾</string>
	<key>f09f97bf</key>
	<string>🗿</string>
	<key>f09f9880</key>
	<string>😀</string>
	<key>f09f9881</key>
	<string>😁</string>
	<key>f09f9882</key>
	<string>😂</string>
	<key>f09f9883</key>
	<string>😃</string>
	<key>f09f9884</key>
	<string>😄</string>
	<key>f09f9885</key>
	<string>😅</string>
	<key>f09f9886</key>
	<string>😆</string>
	<key>f09f9887</key>
	<string>😇</string>
	<key>f09f9888</key>
	<string>😈</string>
	<key>f09f9889</key>
	<string>😉</string>
	<key>f09f988a</key>
	<string>😊</string>
	<key>f09f988b</key>
	<string>😋</string>
	<key>f09f988c</key>
	<string>😌</string>
	<key>f09f988d</key>
	<string>😍</string>
	<key>f09f988e</key>
	<string>😎</string>
	<key>f09f988f</key>
	<string>😏</string>
	<key>f09f9890</key>
	<string>😐</string>
	<key>f09f9891</key>
	<string>😑</string>
	<key>f09f9892</key>
	<string>😒</string>
	<key>f09f9893</key>
	<string>😓</string>
	<key>f09f9894</key>
	<string>😔</string>
	<key>f09f9895</key>
	<string>😕</string>
	<key>f09f9896</key>
	<string>😖</string>
	<key>f09f9897</key>
	<string>😗</string>
	<key>f09f9898</key>
	<string>😘</string>
	<key>f09f9899</key>
	<string>😙</string>
	<key>f09f989a</key>
	<string>😚</string>
	<key>f09f989b</key>
	<string>😛</string>
	<key>f09f989c</key>
	<string>😜</string>
	<key>f09f989d</key>
	<string>😝</string>
	<key>f09f989e</key>
	<string>😞</string>
	<key>f09f989f</key>
	<string>😟</string>
	<key>f09f98a0</key>
	<string>😠</string>
	<key>f09f98a1</key>
	<string>😡</string>
	<key>f09f98a2</key>
	<string>😢</string>
	<key>f09f98a3</key>
	<string>😣</string>
	<key>f09f98a4</key>
	<string>😤</string>
	<key>f09f98a5</key>
	<string>😥</string>
	<key>f09f98a6</key>
	<string>😦</string>
	<key>f09f98a7</key>
	<string>😧</string>
	<key>f09f98a8</key>
	<string>😨</string>
	<key>f09f98a9</key>
	<string>😩</string>
	<key>f09f98aa</key>
	<string>😪</string>
	<key>f09f98ab</key>
	<string>😫</string>
	<key>f09f98ac</key>
	<string>😬</string>
	<key>f09f98ad</key>
	<string>😭</string>
	<key>f09f98ae</key>
	<string>😮</string>
	<key>f09f98af</key>
	<string>😯</string>
	<key>f09f98b0</key>
	<string>😰</string>
	<key>f09f98b1</key>
	<string>😱</string>
	<key>f09f98b2</key>
	<string>😲</string>
	<key>f09f98b3</key>
	<string>😳</string>
	<key>f09f98b4</key>
	<string>😴</string>
	<key>f09f98b5</key>
	<string>😵</string>
	<key>f09f98b6</key>
	<string>😶</string>
	<key>f09f98b7</key>
	<string>😷</string>
	<key>f09f98b8</key>
	<string>😸</string>
	<key>f09f98b9</key>
	<string>😹</string>
	<key>f09f98ba</key>
	<string>😺</string>
	<key>f09f98bb</key>
	<string>😻</string>
	<key>f09f98bc</key>
	<string>😼</string>
	<key>f09f98bd</key>
	<string>😽</string>
	<key>f09f98be</key>
	<string>😾</string>
	<key>f09f98bf</key>
	<string>😿</string>
	<key>f09f9980</key>
	<string>🙀</string>
	<key>f09f9985</key>
	<string>🙅</string>
	<key>f09f9986</key>
	<string>🙆</string>
	<key>f09f9987</key>
	<string>🙇</string>
	<key>f09f9988</key>
	<string>🙈</string>
	<key>f09f9989</key>
	<string>🙉</string>
	<key>f09f998a</key>
	<string>🙊</string>
	<key>f09f998b</key>
	<string>🙋</string>
	<key>f09f998c</key>
	<string>🙌</string>
	<key>f09f998d</key>
	<string>🙍</string>
	<key>f09f998e</key>
	<string>🙎</string>
	<key>f09f998f</key>
	<string>🙏</string>
	<key>f09f9a80</key>
	<string>🚀</string>
	<key>f09f9a81</key>
	<string>🚁</string>
	<key>f09f9a82</key>
	<string>🚂</string>
	<key>f09f9a83</key>
	<string>🚃</string>
	<key>f09f9a84</key>
	<string>🚄</string>
	<key>f09f9a85</key>
	<string>🚅</string>
	<key>f09f9a86</key>
	<string>🚆</string>
	<key>f09f9a87</key>
	<string>🚇</string>
	<key>f09f9a88</key>
	<string>🚈</string>
	<key>f09f9a89</key>
	<string>🚉</string>
	<key>f09f9a8a</key>
	<string>🚊</string>
	<key>f09f9a8b</key>
	<string>🚋</string>
	<key>f09f9a8c</key>
	<string>🚌</string>
	<key>f09f9a8d</key>
	<string>🚍</string>
	<key>f09f9a8e</key>
	<string>🚎</string>
	<key>f09f9a8f</key>
	<string>🚏</string>
	<key>f09f9a90</key>
	<string>🚐</string>
	<key>f09f9a91</key>
	<string>🚑</string>
	<key>f09f9a92</key>
	<string>🚒</string>
	<key>f09f9a93</key>
	<string>🚓</string>
	<key>f09f9a94</key>
	<string>🚔</string>
	<key>f09f9a95</key>
	<string>🚕</string>
	<key>f09f9a96</key>
	<string>🚖</string>
	<key>f09f9a97</key>
	<string>🚗</string>
	<key>f09f9a98</key>
	<string>🚘</string>
	<key>f09f9a99</key>
	<string>🚙</string>
	<key>f09f9a9a</key>
	<string>🚚</string>
	<key>f09f9a9b</key>
	<string>🚛</string>
	<key>f09f9a9c</key>
	<string>🚜</string>
	<key>f09f9a9d</key>
	<string>🚝</string>
	<key>f09f9a9e</key>
	<string>🚞</string>
	<key>f09f9a9f</key>
	<string>🚟</string>
	<key>f09f9aa0</key>
	<string>🚠</string>
	<key>f09f9aa1</key>
	<string>🚡</string>
	<key>f09f9aa2</key>
	<string>🚢</string>
	<key>f09f9aa3</key>
	<string>🚣</string>
	<key>f09f9aa4</key>
	<string>🚤</string>
	<key>f09f9aa5</key>
	<string>🚥</string>
	<key>f09f9aa6</key>
	<string>🚦</string>
	<key>f09f9aa7</key>
	<string>🚧</string>
	<key>f09f9aa8</key>
	<string>🚨</string>
	<key>f09f9aa9</key>
	<string>🚩</string>
	<key>f09f9aaa</key>
	<string>🚪</string>
	<key>f09f9aab</key>
	<string>🚫</string>
	<key>f09f9aac</key>
	<string>🚬</string>
	<key>f09f9aad</key>
	<string>🚭</string>
	<key>f09f9aae</key>
	<string>🚮</string>
	<key>f09f9aaf</key>
	<string>🚯</string>
	<key>f09f9ab0</key>
	<string>🚰</string>
	<key>f09f9ab1</key>
	<string>🚱</string>
	<key>f09f9ab2</key>
	<string>🚲</string>
	<key>f09f9ab3</key>
	<string>🚳</string>
	<key>f09f9ab4</key>
	<string>🚴</string>
	<key>f09f9ab5</key>
	<string>🚵</string>
	<key>f09f9ab6</key>
	<string>🚶</string>
	<key>f09f9ab7</key>
	<string>🚷</string>
	<key>f09f9ab8</key>
	<string>🚸</string>
	<key>f09f9ab9</key>
	<string>🚹</string>
	<key>f09f9aba</key>
	<string>🚺</string>
	<key>f09f9abb</key>
	<string>🚻</string>
	<key>f09f9abc</key>
	<string>🚼</string>
	<key>f09f9abd</key>
	<string>🚽</string>
	<key>f09f9abe</key>
	<string>🚾</string>
	<key>f09f9abf</key>
	<string>🚿</string>
	<key>f09f9b80</key>
	<string>🛀</string>
	<key>f09f9b81</key>
	<string>🛁</string>
	<key>f09f9b82</key>
	<string>🛂</string>
	<key>f09f9b83</key>
	<string>🛃</string>
	<key>f09f9b84</key>
	<string>🛄</string>
	<key>f09f9b85</key>
	<string>🛅</string>
</dict>
</plist>
