<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f09f87a8</key>
	<string>🇨🇳</string>
	<key>f09f87a9</key>
	<string>🇩🇪</string>
	<key>f09f87aa</key>
	<string>🇪🇸</string>
	<key>f09f87ab</key>
	<string>🇫🇷</string>
	<key>f09f87ac</key>
	<string>🇬🇧</string>
	<key>f09f87ae</key>
	<string>🇮🇹</string>
	<key>f09f87af</key>
	<string>🇯🇵</string>
	<key>f09f87b0</key>
	<string>🇰🇷</string>
	<key>f09f87b7</key>
	<string>🇷🇺</string>
	<key>f09f87ba</key>
	<string>🇺🇸</string>
</dict>
</plist>
