<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f09f87a8f09f87b3</key>
	<string>🇨🇳</string>
	<key>f09f87a9f09f87aa</key>
	<string>🇩🇪</string>
	<key>f09f87aaf09f87b8</key>
	<string>🇪🇸</string>
	<key>f09f87abf09f87b7</key>
	<string>🇫🇷</string>
	<key>f09f87acf09f87a7</key>
	<string>🇬🇧</string>
	<key>f09f87aef09f87b9</key>
	<string>🇮🇹</string>
	<key>f09f87aff09f87b5</key>
	<string>🇯🇵</string>
	<key>f09f87b0f09f87b7</key>
	<string>🇰🇷</string>
	<key>f09f87b7f09f87ba</key>
	<string>🇷🇺</string>
	<key>f09f87baf09f87b8</key>
	<string>🇺🇸</string>
</dict>
</plist>
