<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>出生时</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>卡介苗</string>
			<key>remark</key>
			<string>预防结核病</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>1</string>
			<key>offsetMonth</key>
			<string>0</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>出生时</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>乙肝疫苗</string>
			<key>remark</key>
			<string>预防乙型肝炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>2</string>
			<key>offsetMonth</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>1月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>乙肝疫苗</string>
			<key>remark</key>
			<string>预防结核病</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>2</string>
			<key>offsetMonth</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>2月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>脊髓灰质炎疫苗</string>
			<key>remark</key>
			<string>预防小儿麻痹症</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>4</string>
			<key>offsetMonth</key>
			<string>2</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>2月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>轮状病毒疫苗</string>
			<key>remark</key>
			<string>预防轮状病毒腹泻</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>10</string>
			<key>offsetMonth</key>
			<string>2</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>2月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>b型流感嗜血杆菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>11</string>
			<key>offsetMonth</key>
			<string>2</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>2月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>肺炎球菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>12</string>
			<key>offsetMonth</key>
			<string>2</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>3月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>脊髓灰质炎疫苗</string>
			<key>remark</key>
			<string>预防小儿麻痹症</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>4</string>
			<key>offsetMonth</key>
			<string>3</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>3月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>无细胞百白破疫苗</string>
			<key>remark</key>
			<string>预防百日咳、白喉、破伤风</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>5</string>
			<key>offsetMonth</key>
			<string>3</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>4月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>脊髓灰质炎疫苗</string>
			<key>remark</key>
			<string>预防小儿麻痹症</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第三次</string>
			<key>introduceID</key>
			<string>4</string>
			<key>offsetMonth</key>
			<string>4</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>4月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>无细胞百白破疫苗</string>
			<key>remark</key>
			<string>预防百日咳、白喉、破伤风</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>5</string>
			<key>stageDays</key>
			<string>4</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>4月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>轮状病毒疫苗</string>
			<key>remark</key>
			<string>预防轮状病毒腹泻</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>10</string>
			<key>offsetMonth</key>
			<string>4</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>4月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>b型流感嗜血杆菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>11</string>
			<key>offsetMonth</key>
			<string>4</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>4月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>肺炎球菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>12</string>
			<key>offsetMonth</key>
			<string>4</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>5月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>无细胞百白破疫苗</string>
			<key>remark</key>
			<string>预防百日咳、白喉、破伤风</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第三次</string>
			<key>introduceID</key>
			<string>5</string>
			<key>offsetMonth</key>
			<string>5</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>6月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>乙肝疫苗</string>
			<key>remark</key>
			<string>预防乙型肝炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第三次</string>
			<key>introduceID</key>
			<string>2</string>
			<key>offsetMonth</key>
			<string>6</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>6月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>流脑疫苗</string>
			<key>remark</key>
			<string>预防流行性脑脊髓膜炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>9</string>
			<key>offsetMonth</key>
			<string>6</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>6月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>b型流感嗜血杆菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第三次</string>
			<key>introduceID</key>
			<string>11</string>
			<key>offsetMonth</key>
			<string>6</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>6月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>肺炎球菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第三次</string>
			<key>introduceID</key>
			<string>12</string>
			<key>offsetMonth</key>
			<string>6</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>6月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>季节流感疫苗</string>
			<key>remark</key>
			<string>预防流行性感冒</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>14</string>
			<key>offsetMonth</key>
			<string>6</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>8月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>麻风疫苗</string>
			<key>remark</key>
			<string>预防麻疹、风疹、腮腺炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>6</string>
			<key>offsetMonth</key>
			<string>8</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>9月龄</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>流脑疫苗</string>
			<key>remark</key>
			<string>预防流行性脑脊髓膜炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>9</string>
			<key>offsetMonth</key>
			<string>9</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>1岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>乙脑减毒活疫苗</string>
			<key>remark</key>
			<string>预防乙型脑炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>8</string>
			<key>offsetMonth</key>
			<string>12</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>1岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>肺炎球菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第四次</string>
			<key>introduceID</key>
			<string>12</string>
			<key>offsetMonth</key>
			<string>12</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>1岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>水痘疫苗</string>
			<key>remark</key>
			<string>预防水痘</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>13</string>
			<key>offsetMonth</key>
			<string>12</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>1.5岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>甲肝疫苗</string>
			<key>remark</key>
			<string>预防甲型肝炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>3</string>
			<key>offsetMonth</key>
			<string>18</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>1.5岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>无细胞百白破疫苗</string>
			<key>remark</key>
			<string>预防百日咳、白喉、破伤风</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第四次</string>
			<key>introduceID</key>
			<string>5</string>
			<key>offsetMonth</key>
			<string>18</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>1.5岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>麻风腮疫苗</string>
			<key>remark</key>
			<string>预防麻疹、风疹、腮腺炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第一次</string>
			<key>introduceID</key>
			<string>7</string>
			<key>offsetMonth</key>
			<string>18</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>1.5岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>b型流感嗜血杆菌疫苗</string>
			<key>remark</key>
			<string>预防中耳炎、肺炎、脑膜炎</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第四次</string>
			<key>introduceID</key>
			<string>11</string>
			<key>offsetMonth</key>
			<string>18</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>2岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>甲肝疫苗</string>
			<key>remark</key>
			<string>预防甲型肝炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>3</string>
			<key>offsetMonth</key>
			<string>24</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>2岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>乙脑减毒活疫苗</string>
			<key>remark</key>
			<string>预防乙型脑炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>8</string>
			<key>offsetMonth</key>
			<string>24</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>3岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>流脑疫苗</string>
			<key>remark</key>
			<string>预防流行性脑脊髓膜炎</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第三次（A+C）</string>
			<key>introduceID</key>
			<string>9</string>
			<key>offsetMonth</key>
			<string>36</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>3岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>季节流感疫苗</string>
			<key>remark</key>
			<string>预防流行性感冒</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>14</string>
			<key>offsetMonth</key>
			<string>36</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>4岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>脊髓灰质炎疫苗</string>
			<key>remark</key>
			<string>预防小儿麻痹症</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第四次（A+C）</string>
			<key>introduceID</key>
			<string>4</string>
			<key>offsetMonth</key>
			<string>48</string>
		</dict>
		<dict>
			<key>ageStage</key>
			<string>4岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>水痘疫苗</string>
			<key>remark</key>
			<string>预防水痘</string>
			<key>isFree</key>
			<false/>
			<key>isNeed</key>
			<false/>
			<key>doTimesStr</key>
			<string>第二次</string>
			<key>introduceID</key>
			<string>13</string>
			<key>offsetMonth</key>
			<string>48</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ageStage</key>
			<string>6岁</string>
			<key>tag</key>
			<false/>
			<key>vaccineName</key>
			<string>无细胞百白破疫苗</string>
			<key>remark</key>
			<string>预防百日咳、白喉、破伤风</string>
			<key>isFree</key>
			<true/>
			<key>isNeed</key>
			<true/>
			<key>doTimesStr</key>
			<string>第五次（白破）</string>
			<key>introduceID</key>
			<string>5</string>
			<key>offsetMonth</key>
			<string>72</string>
		</dict>
	</array>
</array>
</plist>
